.weatherCard {
  margin: 0 auto;
  padding: 0;
  width: 200px;
  text-align: center;
  border-radius: 1.2em;
  color: #fff;
  /* background: linear-gradient(to top, rgb(255, 147, 0), rgb(255, 25, 0)); */
}

.weatherCard--image {
  color: #fff;
  filter: invert(100%);
  width: 5em;
}
